@import url("../libs/bootstrap.min.css");
@import url("../libs/font-awesome.min.css");
@import url("../libs/angular-snap.min.css");
@import url("../libs/fullcalendar.css");

* {
    box-sizing: content-box;
}

html, body, #content {
  height: 100%;
  width: 100%;
  background-image: url("img/background.png");
}

.jumbotron {
    background-color: #fff;
}

#shelf-1 {
    background-image: url("img/snap-background.png")
}
 
#content {
  background-color: #fff;
  -moz-box-shadow: 0 0 20px #888;
  -webkit-box-shadow: 0 0 20px #888;
  box-shadow: 0 0 20px #888;
}
 
#shelf-1 {
  width: 235px;
  padding: 0 10px;
}
 
#nav-wrapper {
  width: 100%;
  text-align: center;
}
 
.scrollable{
    overflow: auto;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}

.nomargin{
    margin-left: 0px;
    margin-right: 0px;
}

.anim-popin { -webkit-animation: popin .1s; }

.nav-inverse a{
    color: #ffffff;
}

.nav-inverse a:hover{
    color: #333;
}

.list-group-item .list-group-item-success-link{
    color: #3c763d;
}
